    @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
    }

    header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
    z-index: 10000;
    transition: 0.6s;
    }

    header .logo {
    position: absolute;
    padding-right: 100px;
    padding-left: 200px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    }

    header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    }

    header #toggle:before {
    content: "";
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
    }

    header #toggle:after {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
    }

    .banner.active header #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    }

    .banner.active header #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    }

    .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url("../img/crawlingthunder.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.8s;
    z-index: 2;
    }

    .banner.active {
    transform: translateX(-400px);
    }
/* ############# NAVBAR ############# */

.header-logo {
    padding: 0 740px 0 0;
    margin: 0;
    background-color: none;
}
    li, a, button{
        font-family: montserrat, sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
    }

    .header-logo{
        cursor: pointer;
        margin-right: auto;
    }

    .nav__links {
        list-style: none;
    }

    .nav__links li{
        display: inline-block;
        padding: 0px 20px;
    }

    .nav__links li a{
        transition: all 0.3s ease 0s;
    }

    .nav__links li a:hover{
        color: #0088a9;
    }

    button{
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-left: 20px;
    }

    button:hover{
        background-color: rgba(0, 136, 169, 0.8);
    }


    .content {
    max-width: 600px;
    }

    .content h2 {
    color: #fff;
    font-size: 2.5em;
    }

    .content h2 span {
    color: #40c3ff;
    font-size: 1.5em;
    }

    .content p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    }

    .content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    }
        .content a:hover{
            background: #40c3ff;
            transition: 1.0s;
        }

    .sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
    }

    .sci li {
    list-style: none;
    }

    .sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #000000;
    margin: 10px 0 0;
    }

    .sci li a:hover {
    background: #fff;
    }

    .sci li a img {
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
    }

@media (max-width: 767px) {
    header {
        padding: 20px 50px;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2 {
        font-size: 1.8em;
    }
    .banner content p,
    .banner content a {
        font-size: 1em;
    }
    .banner.active {
        transform: translateX(-250px);
    }
    #navigation {
        width: 250px;
    }
    #navigation ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci {
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a {
        margin: initial;
        margin-right: 10px;
    }
}
